@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";



:root {
  --background: #ffffff;
  --foreground: #171717;
}
:root {
  --color-1: hsl(0 100% 63%);
  --color-2: hsl(270 100% 63%);
  --color-3: hsl(210 100% 63%);
  --color-4: hsl(195 100% 63%);
  --color-5: hsl(90 100% 63%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* Hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
html, body {
  scrollbar-width: none; /* Firefox */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* globals.css */
@keyframes floatToCenter {
  0% {
    transform: translate(var(--x), var(--y)) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0) scale(0.1);
    opacity: 0;
  }
}

.animate-floatIn0 {
  --x: -100vw;
  --y: 0;
  animation: floatToCenter 6s linear infinite;
}
.animate-floatIn1 {
  --x: -100vw;
  --y: 0;
  animation: floatToCenter 5.5s linear infinite;
}
.animate-floatIn2 {
  --x: 0;
  --y: -100vh;
  animation: floatToCenter 6s linear infinite;
}
.animate-floatIn3 {
  --x: 0;
  --y: 100vh;
  animation: floatToCenter 6.5s linear infinite;
}
.animate-floatIn4 {
  --x: -100vw;
  --y: -100vh;
  animation: floatToCenter 7.5s linear infinite;
}
.animate-floatIn5 {
  --x: 100vw;
  --y: 100vh;
  animation: floatToCenter 8s linear infinite;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
}

@theme inline {
  --animate-rainbow: rainbow var(--speed, 2s) infinite linear;
 
  @keyframes rainbow {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
}